
themes {
    rosePine {
        fg "#e0def4"
        bg "#191724"
        black "#1f1d2e"
        red "#eb6f92"
        green "#9ccfd8"
        yellow "#f6c177"
        blue "#31748f"
        magenta "#c4a7e7"
        cyan "#9ccfd8"
        white "#e0def4"
        orange "#ebbcba"
    }
}
